body {
  background-image: url("../images/general_background.JPG");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: relative;
}

.container {
  width: 60%;
  margin: auto;
  margin-top: 200px;
  background-color: white;
  border: 5px #e6e6e6 solid;
  margin-bottom: 100px;
}

.container .content{
  padding: 50px 70px;
  padding-bottom: 25px;
  overflow: auto;
}
.container .content h1{
  text-align: center;
  font-family: Arial;
  font-size: 2em;
}
.container .content h2{
  text-align: center;
  font-family: arial;
  font-size: 1.6em;
}
.container .content h3{
  text-align: center;
  font-family: arial;
  font-size: 1em;
  width: 100%;
}
.container .content form{
  font-size: 1.15em;
  font-family: sans-serif;
}

.container .content .labels{
  float: left;
  font-size: 1.15em;
  font-family: sans-serif;
  list-style-type: none;
  width:40%;
  box-sizing: border-box;
  margin: 0;
  text-align: right;
}
.container .content .labels li{
  padding: 5.2px 0px;
  list-style-type: none;
}


.container .content .race_label{
  float: left;
  font-size: 1.15em;
  font-family: sans-serif;
  list-style-type: none;
  width:40%;
  box-sizing: border-box;
  text-align: right;
}
.container .content .race_label ul{
  margin: 0;
  margin-bottom: .5px;
}
.container .content .unit{
  overflow: auto;
}
.container .content .unit .boat{
  text-align: center;
  font-size: 1em;
}

.container .content .race_label li{
  padding: 19px 0px;
  list-style-type: none;
}

.container .content .event_list ul{
  text-align: center;
  font-size: 1.3em;
  list-style-type: none;
  padding: 0px;
}
.container .content .event_list ul li{
  padding: 5px 0px;
  color: #0073e6;
}
.container .content .event_list ul li a:visited{
  color: #0073e6;
}
.container .content .event_list ul li a:hover{
  color:  #004d99;
  text-decoration: none;
}

.container .content .inside-form input{
  display: block;
  padding: 3px 0px;
  margin: 5px 0px;
  width: 300px;
}
.container .content .inside-form{
  float: right;
  width:57.5%;
  box-sizing: border-box;
  margin-bottom: 0px;
}
.container .content .inside-form select{
  display: block;
  padding: 3px 0px;
  margin: 5px 0px;
  width: 300px
}

.container .content .label-participant{
  float: right;
  font-size: 1.15em;
  font-family: sans-serif;
  list-style-type: none;
  width:60%;
  box-sizing: border-box;
  margin: 0;
  text-align: left;
}
.container .content .label-participant li{
  padding: 5.2px 0px;
  list-style-type: none;
}
.container .content .inside-form-participant{
  float: left;
  width:40%;
  box-sizing: border-box;
  margin-bottom: 0px;
  margin-top: 9.195px;
}
.container .content .inside-form-participant input{
  display: block;
  margin: 11.39px 0px;
  height: 20px;
  width: 20px;
}
.container .content .inside-form-participant .checkbox{
  float: right;
}

.container .content .button{
  width: 100%;
  text-align: center;
  display: inline-block;
}
.container .content .button button{
  background-color: #222;
  color: white;
  border: none;
  margin-top: 1em;
  width: 80px;
  height: 40px;
  font-size: 1em;
  margin: 15px;
}
.container .content .button button:hover{
  background-color: #444;
}

.container .content .search_button {
  text-align: center;
  display: inline-block;
  float: right;
  width: 80px;
  box-sizing: border-box;
}
.container .content .search_button button{
  background-color: #222;
  margin: auto;
  color: white;
  border: none;
  width: 60px;
  height:21.5px;
  font-size: 0.8em;
  margin-top: 10px;
}
.container .content .search_button button:hover{
  background-color: #444;
}


.container .content .close{
  font-family: arial;
  margin-top: 70px;
  padding-left: 0px;
  display: inline-block;
  width: 100%;
  text-align:center;
}
.container .content .close ul{
  list-style-type: none;
  padding: 0px;
}
.container .content .close ul li{
  padding: 0px 20px;
  display: inline-block;

}
.container .content .close ul li a{
  text-decoration: underline;
  color: #424248;
  font-size: 1em;
}
.container .content .close a:hover{
  color: #0073e6;
  text-decoration: none;
}

.container .content .error{
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 1.1em;
  font-family: arial;
  padding-top: 20px;
  color: #cc0000;
}

.container .content .message{
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 1.2em;
  font-family: arial;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
}
.container .content .message a{
  color:#000099;
}
.container .content .message a:hover{
  color:#0000ff;
}

.container .content .instruction{
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  padding-bottom: 30px;
}

.container .content table{
  width: 100%;
  border-collapse: collapse;
}
.container .content th, td {
  text-align: left;
  padding: 8px;
}
.container .content tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container .content .search_form{
  margin: 0px;
  width: 100%;
  overflow: auto;
  padding-bottom: 20px;
}
.container .content .form_input{
  width: calc(100% - 80px);
  margin: 0px;
  float: left;
  box-sizing: border-box;
  padding-top: 10px;
}

.container .content .form_input .two_input input{
  width: 49.7%;
}
.container .content .form_input .three_input input{
  width: 32.5%;
}
.container .content .form_input .four_input input{
  width: 24.5%;
}
.container .content .form_input .five_input input{
  width: 19.5%;
}
.container .content .form_input .six_input input{
  width:16%;
}
.container .content .form_input .eight_input input{
  width: 11.9%;
}
